{
  "swagger": "2.0",
  "info": {
    "title": "User Commands service",
    "description": "User Commands API service",
    "version": "0.0.1",
    "contact": {
      "name": "Oswee",
      "url": "https://github.com/oswee/oswee",
      "email": "dzintars.klavins@gmail.com"
    }
  },
  "host": "api.oswee.com",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/signin": {
      "post": {
        "summary": "SignIn...",
        "operationId": "SignIn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "format": "string"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1SignInRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/v1/signup": {
      "post": {
        "summary": "SignUp ...",
        "operationId": "SignUp",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1SignUpResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "format": "string"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1SignUpRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    }
  },
  "definitions": {
    "v1Credentials": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "v1SignInRequest": {
      "type": "object",
      "properties": {
        "api": {
          "type": "string"
        },
        "credentials": {
          "$ref": "#/definitions/v1Credentials"
        }
      },
      "description": "SignInRequest ..."
    },
    "v1SignUpPayload": {
      "type": "object",
      "properties": {
        "display_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "v1SignUpRequest": {
      "type": "object",
      "properties": {
        "api": {
          "type": "string",
          "title": "API versioning: it is my best practice to specify version explicitly"
        },
        "payload": {
          "$ref": "#/definitions/v1SignUpPayload"
        }
      },
      "description": "SignupRequest ..."
    },
    "v1SignUpResponse": {
      "type": "object",
      "properties": {
        "api": {
          "type": "string",
          "title": "API versioning: it is my best practice to specify version explicitly"
        },
        "uuid": {
          "type": "string",
          "format": "byte",
          "title": "UUID of created signup request"
        }
      },
      "title": "SignupResponse returns response of received command"
    }
  }
}
